
<table class="table table-boldered">
<div class="group">
  <%= link_to("Add a product", new_admin_product_path, :class => "btn btn-default pull-right") %>
</div>
<table class="table table-bordered">
  <thead>
    <th>商品名称</th>
    <th>商品价格</th>
    <th>商品库存</th>
    <th>编辑</th>
    <th>#</th>

  </thead>

  <tbody>
  <% @products.each do |product| %>
  <tr>
    <td>
      <%= link_to(product.title, admin_product_path(product)) %>
    </td>
    <td><%= product.price %></td>
    <td><%= product.quantity %></td>
    <td>
      <%= link_to("Edit", edit_admin_product_path(product)) %> |
      <%= link_to("Destroy", admin_product_path(product), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    </td>
    <td>
      <%= product.created_at %>
    </td>
  </tr>

</tbody>
<% end %>
</table>
