
<table class="table table-boldered">

  <% @users.each do |user| %>
  <tr>
    <td>
      <%= link_to(user.email, admin_user_path(user)) %>
    </td>

    <td>
      <%= user.last_sign_in_at %>
    </td>

    <td>
      <%= link_to("Destroy", admin_user_path(user), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    </td>

    <td>
      <% if user.is_admin? %>
        <%= link_to("Change to User", user_admin_user_path(user), method: :post, :class => "btn btn-xs btn-default") %>
      <% else %>
          <%= link_to("Change to Admin", admin_admin_user_path(user), method: :post, :class => "btn btn-xs btn-default") %>
      <% end %>
    </td>

  </tr>
  <% end %>
</table>
